---
import Layout from "../layouts/Layout.astro";
import ExternalLink from "../components/ExternalLink.astro";
import { events, series } from '../data';
import { getFutureEvents } from '../lib/event';
import { isPublished } from '../lib/work';
import DateExpression from "../components/DateExpression.astro";
---

<Layout title="サークル「ナヴァストーケ」" description="ふぁぼんの個人サークル「ナヴァストーケ」の公式サイト">
  <main>
    <div class="logo">
      <picture>
        <source srcset="/img/logo_dark_saturated.webp" width="772" height="435" type="image/webp" media="(prefers-color-scheme: dark)" />
        <source srcset="/img/logo_dark_saturated.png" width="772" height="435" type="image/png" media="(prefers-color-scheme: dark)" />
        <source srcset="/img/logo.webp" width="772" height="435" type="image/webp" />
        <source srcset="/img/logo.png" width="772" height="435" type="image/png" />
        <img src="/img/logo.png" width="772" height="435" alt="ナヴァストーケのアイコン" />
      </picture>
    </div>
    <section>
      <h1>サークル「ナヴァストーケ」</h1>
      <p><ExternalLink href="https://www.fabon.info">ふぁぼん</ExternalLink>の個人サークルです。科学、コンピュータ、ロシア語、旧ソ連、鉄道や船やバスや旅行など、節操なしにいろいろ書きます。</p>
      <p>評論・情報系の本がメインですが、一次/二次創作の小説も出すかもしれません。</p>
      <p>※サークル名の「ナヴァストーケ」はロシア語で「на востоке」すなわち「東で」を意味します。</p>
    </section>

    <ExternalLink href="https://navostoke.booth.pm">BOOTH(通販・ダウンロード販売)</ExternalLink>

    <section>
      <h2>作品一覧</h2>
      {series.filter(series => Array.isArray(series.works)).map(s => (
        <div>
          <h3>{s.name}</h3>
          { s.description && <p>{s.description}</p> }
          { s.works!.map(w => <div><a href={`/works/${w.id}/`}>{w.name}</a>{!isPublished(w) && ' (未発売)'}</div>) }
        </div>
      ))}
    </section>

    <section>
      <h2>今後のサークル参加予定</h2>
      { getFutureEvents(events).map(event => (
         <div>
          <h3>{event.name} ({event.status})</h3>
          {event.url && <ExternalLink href={event.url}>イベント公式サイト</ExternalLink>}
          <p>開催日: <DateExpression date={event.date} /></p>
          {event.space && <p>スペース: <strong>{event.space}</strong></p>}
          {event.id && <p><a href={`./events/${event.id}/`}>イベント参加情報</a></p>}
        </div>
      )) }
    </section>

    <section>
      <h2><a href="/events/">過去のサークル参加情報</a></h2>
    </section>
  </main>
</Layout>

<style>
  .logo {
    text-align: center;
  }

  .logo img {
    max-width: 100%;
  }
</style>
