---
import '../common.css';
import ExternalLink from '../components/ExternalLink.astro';

export type Props = {
	title?: string | undefined;
  description?: string | undefined;
  twitterCardType?: string | undefined;
  ogImage?: string | undefined;
};

const { title } = Astro.props;
const siteName = 'ナヴァストーケ';
const defaultDescription = 'サークル「ナヴァストーケ」の公式サイト';
const description = Astro.props.description || defaultDescription;
const fullTitle = title ? `${title} | ${siteName}` : siteName;
const ogImageUrl = new URL(Astro.props.ogImage ?? '/img/ogimage.png', Astro.site);
const twitterCardType = Astro.props.twitterCardType || 'summary_large_image';
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={fullTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content={ogImageUrl} />
    <meta name="twitter:card" content={twitterCardType} />
    <meta name="twitter:site" content="@syobon_hinata" />
    { [16,32,48,64].map(s => <link rel="icon" href={`/img/favicon${s}.png`} sizes={`${s}x${s}`} />) }
		<title>{fullTitle}</title>

    <script src="../script/main.ts"></script>
	</head>
	<body>
    <header class="header_nav">
      <div class="header_nav_inner">
          <a href="/" class="header_nav_top"><img src="/img/logotype.svg" alt="ナヴァストーケ トップページ" height="60" width="160" /></a>
          <nav>
              <ul class="header_nav_links">
                  <li><a href="/works/">作品</a></li>
                  <li><a href="/events/">イベント情報</a></li>
                  <li><a href="/about/">サークル概要</a></li>
                  <li><a href="/contact/">連絡先・リンク</a></li>
                  <li><ExternalLink href="https://navostoke.booth.pm" icon={false}>通販・DL販売</ExternalLink></li>
              </ul>
          </nav>
      </div>
    </header>
    <slot />
    <footer>
      <div id="footer">
          <p>© 2021-{new Date().getFullYear()} ナヴァストーケ «на востоке»</p>
      </div>
    </footer>
	</body>
</html>

<style scoped>
  #footer {
    background-color: #CCC;
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
  }

  #footer p {
    margin: 0;
    line-height: 2.5;
    font-size: 80%;
  }

  .header_nav {
    background-color: #c0cdee;
  }

  .header_nav_top {
      padding: 4px;
  }

  .header_nav_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1000px;
      margin: auto;
  }

  .header_nav_inner li {
    list-style: none;
  }

  .header_nav_links {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .header_nav_links li {
    margin: 0 8px;
  }

  .header_nav_links a {
    color: #333;
  }

  .header_nav_links a:hover {
    color: #000;
  }

  @media (prefers-color-scheme: dark) {
    #footer {
      background-color: #89b8c2;
      color: #161821;
    }
    .header_nav {
      background-color: #84a0c6;
    }
  }
</style>
