---
import '../common.css';
import ExternalLink from '../components/ExternalLink.astro';

export type Props = {
	title?: string;
  description?: string;
  twitterCardType?: string;
  ogImage?: string;
};

const { title } = Astro.props;
const siteName = 'ナヴァストーケ';
const defaultDescription = 'サークル「ナヴァストーケ」の公式サイト';
const description = Astro.props.description || defaultDescription;
const fullTitle = title ? `${title} | ${siteName}` : siteName;
const ogImageUrl = new URL(Astro.props.ogImage ?? '/img/logo.png', Astro.site);
const twitterCardType = Astro.props.twitterCardType || 'summary_large_image';
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={fullTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content={ogImageUrl} />
    <meta name="twitter:card" content={twitterCardType} />
    <meta name="twitter:site" content="@syobon_hinata" />
    { [16,32,48,64].map(s => <link rel="icon" href={`/img/favicon${s}.png`} sizes={`${s}x${s}`} />) }
		<title>{fullTitle}</title>
	</head>
	<body>
    <header class="header_nav">
      <div class="header_nav_inner">
          <a href="/" class="header_nav_top"><img src="/img/logotype.svg" alt="ナヴァストーケ トップページ" height="60" width="160" /></a>
          <nav>
              <ul class="header_nav_links">
                  <li><a href="/works/">作品</a></li>
                  <li><a href="/events/">イベント情報</a></li>
                  <li><a href="/about/">サークル概要</a></li>
                  <li><a href="/contact/">連絡先・リンク</a></li>
                  <li><ExternalLink href="https://navostoke.booth.pm" icon={false}>通販・DL販売</ExternalLink></li>
              </ul>
          </nav>
      </div>
    </header>
    <slot />
    <footer>
      <div id="footer">
          <p>© 2021-{new Date().getFullYear()} ナヴァストーケ «на востоке»</p>
      </div>
    </footer>
	</body>
</html>
